body {
    background: #003b4b;
    overflow-x: hidden;
}
/* Colocando imagem como background */
#menu-principal {
    background-image: url("./img/Eden_at_night-1920x200.jpg");
    padding: 50px;
    text-align: center;
    border-bottom: 3px solid #00242d;
    border-right: 3px solid #00242d;
    box-shadow: 10px 10px 10px 10px #00242d;

}
/* Alterando posição do menu */
#menu-principal #nav {
    color: white;
    border-style: solid;
    border-radius: 20px;
}

/* alterando configurações do link */
#menu-principal #nav > a {

}

/* alterando configurações do menu */
#menu-principal #nav > li, ul {
   list-style: none;
   display: inline;
   padding: 20px;
   font-size: 20pt;
}

#menu-principal #nav :hover {
    color: #00242d;
    border-bottom: 5px solid #00242d;
    border-top: 5px solid #00242d;
}


/* customização do footer */
#rodape {
    background-color: #00242d;
    bottom: 0;
    width: 100%;
    padding: 10px;
    left: 0px;  
    text-align: center; 
    margin-left: -8px;
}

/*  custom fonte footer*/
#rodape > a {
    text-decoration: none;
    color:white;
}

#show-princiapl .imagem-teste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
}

/*  */
#show-principal > h1, h2 {
    color: #003b4b;
}

#show-principal > p {
    text-align: justify;
}

.container-flex{
     display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;    
}


.about {
    text-align: center;    
}

.about h1 {
    font-size: 
}

.curriculo {
    display: flex;
    justify-content: center;
}

.contato {
    width: 100%;
    max-width: 500px;
}

.contato h2, h3 {
    text-align: center;
}

.form {
    text-align: center;
}

.emprego {
    border: 2px solid white;
    
}

.pessoal {
    border: 2px solid white;
}

.field {
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid white;
    border-radius: 5px;
}

textarea{
    height: 150px;
    width: 433px;
}

.sobreVoce {
    margin-top: 10px;
    
}



/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */


